*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body{
    width: 100%;
    height: 100%;
}

:root{
    /* Background colors */
    --bg-primary-color: rgb(23, 23, 23);
    --bg-fill-color:rgb(221, 255, 248);
    --bg-food-color: rgb(255, 87, 87);

    /* Text colors */
    --text-primary-color: rgb(240, 240, 240);

    --border-primary-color: rgb(50, 50, 50);

    /* spacing variables */
    --space-xs: 4px;
    --space-s: 8px;
    --space-m: 12px;
    --space-l: 20px;
    --space-xl: 40px;
    --space-xxl: 60px;

}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

section{
    padding: var(--space-xl);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info{
    padding: var(--space-m);
    border: 1px solid var(--border-primary-color);
    border-radius: 10px;
}

.board{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(70px, 1fr));
    grid-template-rows: repeat(auto-fill,minmax(70px, 1fr));
}

.block{
    width: 70px;
    height: 70px;
    border: 1px solid var(--border-primary-color);
}

.fill{
    background-color: var(--bg-fill-color);
}

.food{
    background-color: var(--bg-food-color);
}